services:
  labenv:
    image: sh3b0/labenv:v1
    container_name: labenv
    ports:
      - "127.0.0.1:3000:3000"
      - "127.0.0.1:8080:8080"
    environment:
      - SHELL=/usr/bin/fish
      - PASSWORD=code-server
    volumes:
      - ./workspace:/home/ubuntu
      - ./workshop:/app/slides
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - lab_net

  firefox:
    image: jlesage/firefox
    container_name: firefox
    ports:
      - "127.0.0.1:5800:5800"
    volumes:
      - ./workspace/downloads:/config/downloads
    networks:
      - lab_net
    
  # windows:
  #   image: sh3b0/win:latest
  #   container_name: windows
  #   devices:
  #     - /dev/kvm
  #     - /dev/net/tun
  #   cap_add:
  #     - NET_ADMIN
  #   ports:
  #     - 8006:8006
  #   volumes:
  #     - ./workspace:/shared
  #     - ./storage:/storage
  #   networks:
  #     - lab_net
  #   restart: unless-stopped
  #   stop_grace_period: 2m

networks:
  lab_net:
    name: lab_net
