# Lab Environment in a System (VM-Like) Container - with systemd and Docker available inside
#  Intended for Linux or Windows (WSL2) hosts with docker-ce/docker.io installation (not Docker Desktop).

services:
  labenv:
    image: sh3b0/labenv:sysbox
    container_name: labenv
    runtime: sysbox-runc # https://github.com/nestybox/sysbox/blob/master/docs/user-guide/install-package.md 
    ports:
      - "127.0.0.1:3000:3000"
      - "127.0.0.1:8080:8080"
    volumes:
      - ./workspace:/home/ubuntu
      - ./workshop:/app/workshop
    networks:
      - lab_net

  firefox:
    image: jlesage/firefox:v25.12.5
    container_name: firefox
    ports:
      - "127.0.0.1:5800:5800"
    volumes:
      - ./workspace/downloads:/config/downloads
    networks:
      - lab_net

networks:
  lab_net:
    name: lab_net
